{
	"dns": {
		"ip": "127.0.0.1",
		"port": "53",
		"query": "google.com.",
		"timeout": "1s",
		"interval": "1s"
	},
	"anycast": {
		"interface": "lo",
		"prefix": "dns",
		"localpref": 200,
		"decrease": 10,
		"nexthop-interface": "eth0",
		"routes": [
			{
				"label": "v6-primary",
				"ip": "fd00::8:8:8:4/128",
				"localpref": 200
			},
			{
				"label": "v6-secondary",
				"ip": "fd00::8:8:4:4/128",
				"localpref": 190
			}
		]
	},
	"bgp": {
		"id": "172.17.2.1",
		"as": 64512,
		"peers": [
			{
				"ip": "172.17.2.254",
				"description": "Edgerouter",
				"as": 64512
			},
			{
				"ip": "172.17.2.253",
				"description": "gobgpd",
				"as": 64512
			}
		]
	}
}
